@import url('/stylesheets/refinery/formatting.css');
/*  
    Override default refinery formatting below. 
    Formatting applies to backend WYSIWYG editors and all frontend. 
*/

a:link {
color: #FFCC00;
}
a:visited {
color: #FFCC00;
} 
a:hover {
color: #6E8495;	
/* text-decoration: none; */ 
}
a:active {
color: #FFCC00;
} 


div.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  border-top: 3px solid #000000;
  color: #6E8495;
  background: #F70000;
  padding: 10px;
}

#errorExplanation, #errorExplanation *, .fieldWithErrors, .fieldWithErrors * {
  color: #6e8495;
}

body, input, textarea, select, p, li, blockquote {
    font-family: Verdana;
    font-size: 12px;
}



#body_content_left *, #body_content_right *, .page_part_body, .page_part_side_body {
    line-height: 22px;
    color: #FFCC00;
}
h1, #body_content h1, h1#body_content_page_title {
	color: #6e8495;
    font-size: 25px;
    font-weight: normal;
    font-family: "Trebuchet MS", Trebuchet;
}
#body_content_left p, #body_content_right p, .page_part_body p, .page_part_side_body p {
    margin-bottom: 5px;
}
h2, h3 {
    color: #6e8495;
    font-weight: normal;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
#footer_content * {
    color: #6e8495;
    font-size: 11px;
}

